<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Label</key>
	<string>net.nanotechcorp.nanotech.dioxy</string>
	<key>ProgramArguments</key>
	<array>
		<string>/usr/local/share/npm/bin/coffee</string>
		<string>/Users/NanoTech/Code/dioxy/dioxy.coffee</string>
	</array>
	<key>EnvironmentVariables</key>
	<dict>
		<key>NODE_PATH</key>
		<string>/usr/local/lib/node</string>
	</dict>
	<key>Debug</key>
	<false/>
	<key>Disabled</key>
	<false/>
	<key>OnDemand</key>
	<false/>
	<key>KeepAlive</key>
	<true/>
	<key>RunAtLoad</key>
	<true/>
</dict>
</plist>
